.about-wrapper
{
    background-color: var(--light-yellow);
}
.about-container
{
    display: flex;
    margin: 0 4rem;
    gap: 3rem;
    flex-wrap: nowrap;
    align-items: flex-start;
    color: #f9b209;
}
.about-p
{
    color:var(--black);
    padding-top: 1rem;
    font-size: 1rem;
}